<h1> Welcome to the Message Board </h1>

<p>View and ask questions here.</p>

<ul>
  {{#each model.questions as |question|}}
     {{question-tile question=question}}
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}

<h2> All Comments </h2>

<ul>
  {{#each model.comments as |comment|}}
    <li>{{comment.body}} - by {{comment.user}}</li>
  {{/each}}
</ul>

{{new-comment saveComment="saveComment"}}
